---
layout: page
title: "About"
description: "Snails party"
header-img: "img/about-bg.jpg"
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Russian Version -->
<div class="ru post-container">
    {% capture about_ru %}{% include about/ru.md %}{% endcapture %}
    {{ about_ru | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>




{% if site.commento_active %}
<!-- commento start -->
<div id="commento"></div>
<script src="https://cdn.commento.io/js/commento.js"></script>
{% endif %}
